:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --title-lg: bold 56px/120% "Asap";
    --title-md: bold 24px/120% "Asap";
    --title-sm: bold 16px/120% "Asap";
    --subtitle: 20px/120% "Inconsolata";
    --text-md: 16px/140% "Maven Pro";
    --text-sm: 14px/140% "Maven Pro";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}