section {
    background-color: var(--gray-600);
    height: 480px;
    padding-block: 88px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
}

li {
    width: 280px;
    height: 155px;
    border: 2px solid var(--gray-500);
    border-radius: 12px;
    padding: 20px;

    h3 {    
        margin-block: 20px 8px;
        font: var(--title-sm);
        color: var(--gray-100);
        padding-inline: 4px;
    }

    p {
        font: var(--text-sm);
        color: var(--gray-200);
        margin-bottom: 16px;
        padding-inline: 4px;
    }
}